.exhausting-page {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: aliceblue;
  width: 100vw;
  height: 100vh;
}

.exhausting-page h1 {
  font-size: 72px;
}

.exhausting-page p {
  font-size: 24px;
}

.exhausting-page .exhausting-image {
  position: absolute;
  animation: gocrazy 2s infinite;
}

@keyframes gocrazy {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 80vh;
    left: 30vw;
    transform: rotate(180deg);
  }

  50% {
    top: 80vh;
    left: 0;
    transform: rotate(360deg);
  }

  75% {
    top: 0;
    left: 30vw;
    transform: none;
  }

  100% {
    top: 0;
    left: 0;
    transform: rotate(360deg);
  }
}